.container{
    margin-bottom: 100px;
}
.gray-bg{
    background-color:rgba(248, 241, 241, 0.986);
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}

.buy-now-button{
    background-image: linear-gradient(to bottom,black 0%,black 100%);
    color:#fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.bd-highlight{
    color: orange;
}
.bd-highlight h3{
    color: black;
}
.text-center{
    border: none;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    

}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
}
.box img{
    width: 100px;
    height: 100px;
}